@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.feedback-form {
   border-radius: 8px;
   padding: 24px;
   min-width: 408px;

}


.feedback-form label {
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   margin-bottom: 8px;
}

.feedback-form input {}

.feedback-form input,
.feedback-form textarea {
   width: 100%;
   border: 1px solid #808080;
   border-radius: 4px;
   padding: 8px 16px;
   outline: transparent;
}

.feedback-form textarea {
   height: 80px;
   resize: none
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
   border: 1px solid #000;
}
.feedback-form button {
   border-radius: 8px;
   padding: 8px 16px;
   min-width: 95px;
   height: 40px;
   background: #4e75ff;
   color: #ffffff;
   margin-top: 8px;
   transition: background-color 250ms linear;
      outline: transparent;
}

.feedback-form button:hover,
.feedback-form button:focus {
   background-color: #6c8cff;
}